.container{ margin:0px;
	position: center;
 }

#container-banner{
	margin: auto;
  text-align: center;
  padding: 15px;
}

#container-body{
	  background-color: rgb(250,250,250);
	margin: 10px auto;
	  box-shadow: 5px 0px 40px 1px rgba(0,0,0,0.2);
	  border-radius: 6px;
	  width: 800px;
	  }

#container-body h1{
	font-size: 30px;
	margin-top: 0px;
	padding: 20px;
	color: #ff6f5e;
}

#container-body a{
	color: #ff6f5e;
}

#container-body a:hover{
	color: black;
}
#container-body-accueil{
	  background-color: rgb(245,245,245);
	 margin-bottom: 0px;

	  }
#container-body-accueil h1{
	font-size: 30px;
	margin-top: 0px;
	padding: 20px;
	color: #ff6f5e;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  #container-body {
   width: 800px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  #container-body {
    width: 550px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #container-body {
    width: 400px;
}



